@model MallRoof.Models.Mall

@{
    ViewBag.Title = "Описание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFloors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFloors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingExists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingExists)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingInsideExists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingInsideExists)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingInsidePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingInsidePayment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MallId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
