@model MallRoof.Models.PriceProposalToPremise

@{
    ViewBag.Title = "Предложение арендодателю";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Предложение Арендодателю от соискателя</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="PremiseId" value=@ViewBag.PremiseId>
    <div class="form-horizontal">
        <h4>Предложение Арендодателю от соискателя</h4>
        <hr />        

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Мои ценовые предложения", "IndexFromMe")
</div>