@{
    ViewBag.Title = "Как пользоваться";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">@ViewBag.Title</h2>
<p class="text-center">Инструкции по работе с сайтом.</p>

<a target="_blank" href="~/Instruction/Instructions.docx">Скачайте инструкцию</a>

<h3 class="text-center">Регистрация пользователя</h3>


        Зарегистрируйтесь нажав кнопку «Зарегистрироваться» в верхнем правом углу сайта<br /><br />
<img src="~/Images/registration.png" class="img-responsive center-block" />
<br />
        Во время регистрации, Вам на указанную почту будет отправлено письмо с ссылкой для активации. Возможно письмо попадет в СПАМ. Поэтому проверьте пожалуйста папку спам в вашей почте.
        Чтобы закончить регистрацию вам нужно перейти по ссылке в письме. После того как вы перейдете по ссылке, можете производить вход на сайт.
<hr />

        Произведите вход под своей учетной записью. Электронный адрес на рисунке ниже показан в качестве примера. <br />
<br />
<img src="~/Images/login2.png" class="img-responsive center-block" />
<hr />

<h3 class="text-center">Для арендодателя</h3>
<br />




    Арендодатель может:
<ul>
    <li>создавать помещения в торговых центрах
    <li>просматривать ценовые запросы
    <li>отправлять ценовые предложения для ценовых запросов.
</ul>
<br />
<h4>Создание помещения</h4>
        Для создания помещения, Вам необходимо сперва создать ваш центр в списке @Html.ActionLink("Мои центры", "Index", "Malls", new { getMine = true }). Чтобы попасть в список Мои центры, пройдите по меню Пользователь -> Мои центры
        <br />
        <img src="~/Images/mycenters.png" />
        <br />
        Создайте ваш «центр» с помощью кнопки @Html.ActionLink("Новый центр", "Create", "Malls", null, new { @class = "btn btn-info" })
        <br />
        <img src="~/Images/NewCenter2.png" />
        <hr />
        <img src="~/Images/NewMall.png" class="img-responsive center-block" />
        <br />
        Снова зайдите в меню «Мои центры» и списке "Мои центры" создайте помещение нажав <span class="btn-link">Добавить помещение к этому центру</span>.
        <hr />
        Ниже представлена форма добавления нового центра. <br />
        В форме добавления помещения, обратите внимание на поле "Видимость".
        <br />
        Если поле "Видимость" отмечено галочкой, то данное помещение будет доступно для просмотра соискателем.
        Если поле "Видимость" неотмечено галочкой, то данное помещение будет скрыто от просмотра соискателем.
        Ниже представлена форма добавления нового помещения
        <br /><br />
        <img src="~/Images/NewPremise2.png" class="img-responsive center-block" />
        <h4>Отправка ценового предложения</h4>
        Арендодатель может просматривать ценовые @Html.ActionLink("запросы соискателей", "Index", "Demands") и создавать ценовые предложения по этим запросам
        <br />
        Для просмотра запросов соискателей, нужно в меню кликнуть на сслыку @Html.ActionLink("Запросы соискателей", "Index", "Demands").
        Для создания ценового предложения нужно выбрать интересующий запрос и нажать на ссылку <span class="btn-link">Сделать предложение</span>
        <br /> После нажатия ссылки <span class="btn-link">Сделать предложение</span>, у вас откроется окно создания предложения, со списком имеющихся у вас помещений.
        Вам нужно выбрать помещение из списка, заполнить поля Цена, и описание, нажать отправить.
        Если у вас нет созданных помещений Вам нужно будет сперва создать помещение, и только после этого вы сможете отправить предложение.



        <h3 class="text-center">Для соискателей</h3>
        Все доступные объявления отображаются на главной странице, или по ссылке @Html.ActionLink("Помещения", "Index", "Premises").
        У соискателей есть возможность создавать ценовые @Html.ActionLink("запросы", "Index", "Demands", new { getMine = true }) , на которые позже арендодатели будут отправлять ценовые предложения.
        <br />
        Создание ценового запроса.<br />
        <ol>
            <li>Нужно войти под своей учетной записью
            <li>Войти в меню Пользователь -> Мои запросы
            <li>Нажать на кнопку "Создать новый запрос"
            <li>Заполнить поля в форме.
        </ol>
        <p class="text-left">Смотрите пример на картинке ниже</p>
        <img src="~/Images/NewDemand2.png" class="img-responsive center-block" />
        <br />
        После создания ценового запроса, обязательно нужно Активировать.
        После активации ценового запроса его нельзя редактировать.

        Для Арендодателя интересны разделы  @Html.ActionLink("Центры", "Index", "Malls") и @Html.ActionLink("Мои центры", "Index", "Malls", new { getMine = true }), Помещения и Мои помещения, Запросы соискателей.
        Для соискателя интересны раздел Помещения и Мои запросы.
        В каждом созданном запросе, у пользователя будет возможность просмотреть ценовые предложения от арендодателей.
