@model MallRoof.Models.Premise
@{
    ViewBag.Title = "Описание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Помещение</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLastFloor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLastFloor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasWindow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasWindow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mall.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mall.PhoneNumber)
        </dd>

    </dl>
</div>
<hr />
<h4>Предложения этого помещения соискателям от меня</h4>
@foreach (var proposal in Model.Proposals)
{
    <span>@proposal.Premise.Mall.Name</span>
    <span>@proposal.Premise.Area</span>
    <span>@proposal.Premise.Number</span>
    @Html.ActionLink("Подробнее", "Details", "Proposals", new { id = proposal.ProposalId }, null)
    <br />
}
<hr />
<h4>Ценовые предложения на это помещение мне от соискателей</h4>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriceProposalToPremises.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceProposalToPremises.FirstOrDefault().Comments)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.PriceProposalToPremises)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.ActionLink("Детали", "Details", "PriceProposalToPremises", new { id = item.PriceProposalToPremiseId }, null)
                </td>
            </tr>
        }
    </table>
</div>
<hr />
<h4>Фотографии</h4>
<div class="col-md-4 col-md-offset-4">
    @Html.Raw(Model.InstaPhoto)
</div>

@RenderPage("~/Views/Shared/PhotosView.cshtml")
<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>