@*@model IEnumerable<MallRoof.Models.Premise>*@
@using MallRoof.Models
@model MallRoof.Models.PremisesMallListModel
@using PagedList.Mvc;


@{
    ViewBag.Title = "Помещения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Помещения</h2>

@if (ViewBag.Malls != null)
{
    foreach (var item in ViewBag.Malls)
    {
        string mallname = "Новое помещение в " + item.Name;
        @Html.ActionLink(mallname, "Create", "Premises", new { id = item.MallId }, new { @class = "btn btn-info" })
    }
}

@RenderPage("~/Views/Shared/PremiseSearchForm.cshtml")

        
<table class="table">
    <tr>
        <th>
            Фотография
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premises.SingleOrDefault().Mall.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premises.SingleOrDefault().Mall.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premises.SingleOrDefault().Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premises.SingleOrDefault().Floor)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Premises.SingleOrDefault().Area)*@
            @Html.ActionLink("Площадь", "IndexLandlord", new { order = ViewBag.AreaSortParam
           ,
           mallId = Request.Params["MallId"]
            ,
           price = Request.Params["Price"]
            ,
           area = Request.Params["Area"]
            ,
           haswindow = Request.Params["HasWindow"]
           ,
           cityId = Request.Params["CityId"]
       })
            @Html.SortIdentifier(Request.Params["order"], "area")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premises.SingleOrDefault().IsLastFloor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premises.SingleOrDefault().HasWindow)
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.Premises.SingleOrDefault().Price)*@
            @Html.ActionLink("Цена", "IndexLandlord", new { order = ViewBag.PriceSortParam
           ,
           mallId = Request.Params["MallId"]
            ,
           price = Request.Params["Price"]
            ,
           area = Request.Params["Area"]
            ,
           haswindow = Request.Params["HasWindow"]
           ,
           cityId = Request.Params["CityId"]
       })
            @Html.SortIdentifier(Request.Params["order"], "price")
            @*@if (ViewBag.PriceSortParam.Contains("desc"))
                {
                    <span class="glyphicon glyphicon-chevron-down"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-chevron-up"></span>
                }*@

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Premises)
    {
        <tr class="text-left">
            <td align="center" style="width:12%">
                <img src="@item.FirstPhoto()" class="img-rounded img-thumbnail" alt="...Нет изображения..." />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mall.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mall.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLastFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasWindow)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @if (ViewBag.User != null)
                {
                    @Html.ActionLink("Изменить |", "Edit", new { id = item.PremiseId });
                    @Html.ActionLink(" Детали |", "Details", new { id = item.PremiseId, getMine = true });
                    @Html.ActionLink(" Удалить", "Delete", new { id = item.PremiseId });
                }

            </td>
        </tr>
    }
</table>
Страница @(Model.Premises.PageCount < Model.Premises.PageNumber ? 0 : Model.Premises.PageNumber) из @Model.Premises.PageCount
@Html.PagedListPager(Model.Premises, page => Url.Action("Index", new { page }))